.add_input{
    background-color: #c4c4c4ff;
    height: 30px;
    margin: 5px 0;
    padding: 5px;
}
#nome_completo, #email, #cpf, #idade, #formacao, #experiencia, #data_nascimento, #observacoes{
    
}
#nome_completo{

}
#email{

}
#cpf{

}
#idade{

}
#formacao{

}
#experiencia{

}
#data_nascimento{

}
#observacoes{
    
}