.curriculo ul{
    margin: 50px 40px 0 40px;
    width: 1000px;
    display: table;
    text-align: center;
}
.curriculo ul li{
    padding: 10px 20px;
    margin: 0;
}
.name{
    background-color: #090a0e !important;
}
.curriculos{
    text-align: center;
    text-align: center;
    width: 100%;
    height: 100%;
}
.curriculo ul img{
    position: relative;
    margin: 10px 10px 0 0;
    width: 20px;
    top: -40px;
    float: right;
    font-weight: bold;
}